@charset "UTF-8"


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



:root{
    --fonte1: verdana,  Geneva, tahoma, sans-serif;
    --fonte2: 'Passion one' , 'cursive';
    --fonte3: 'Sriracha' , 'cursive'; 

}


* {
    margin: 0px;
    padding: 0px;
   
}

html, body{
       min-height: 100vh;
    background-color: black;
    font-family: var(--fonte1) ;


}


header{
    background-color: black;
    color: white;
    text-align: center;
}

header,h1 {
    padding-top: 50px;
    font-varian: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header, p{
    padding-bottom: 50px;
}

header a, footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline  ;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2vw;
}
 section.normal {
    background-color: white;
    color: rgb(32, 31, 31);


    
 }

section.imagem {

    background-color: black;
    color: white;
    box-shadow: inset 7px 7px 15px 0px rgba(0, 0, 0, 0.580);
    background-size: cover;
    background-attachment: fixed;
   

}

section.imagem > p {
    display: inline-block;
    padding: 8px;
    background-color: rgba(0,0, 0, 0.300);
    
}


section#img01 {
    background-image: url(./imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(./imagens/background002.jpg);
    background-position: right center;
}
footer {
     background-color: black;
     color: white;
     text-align: center;
     padding: 10px;
}